.grid-cards
    display: grid
    grid-template: 1fr 1fr / 1fr 1fr
    justify-items: center
    z-index: 2

// div > .box-input
//     margin-right: 1rem

.box-input
    display: flex
    align-items: flex-start
    flex-direction: column 

    label
        margin-bottom: .7rem

    input, select, textarea
        margin-bottom: 1.2rem
