// shadows

$shadow1: 0 0.313rem 0.5rem #0000003b

// sizes
$header-height: 3rem
$nav-width: 70px
$normal-font-size: 1rem

// colors
$first-color: #93c572
$second-color: #006d93
$warning-color: #f4c150
$dark: #000
$white-color: #FFF

// fonts
$body-font: 'Public Sans'

// z-index
$z-fixed: 100