.background
    //background-color: #A3D8F7
    // background-color: rgba(0,0,0,.5)
    box-sizing: border-box
    background-color: transparentize($second-color, .7)
    background-size: cover
    background-repeat: no-repeat
    min-height: 100%
    width: 100%
    @media screen and (min-width: $xs)
        display: flex
        justify-content: center
