$width-card-active: 65rem
$height-card-active: 8.875rem

.card-active
    display: flex
    align-items: center
    background: linear-gradient( to right bottom,rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3))
    backdrop-filter: blur(2rem)
    border-radius: 1rem
    overflow: hidden
    width: $width-card-active
    height: $height-card-active
    margin: 1rem

.card-header-active
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    font-size: 4rem
    background-color: #FFF
    overflow: hidden 
    position: relative
    border-radius: 1rem
    height: 100%
    width: 10%

    p
        font-size: 1rem
        display: block


.card-desc-active
    box-sizing: border-box
    border-radius: 1rem
    padding: .7rem
    width: $width-card-active * 0.82
    background: $white-color

    .card-active-field
        cursor: default
        display: flex
        align-items: center
        margin: .5rem 0
        overflow-x: auto !important
        height: 2.2rem
        border: solid .03rem transparentize($dark, .7)
        border-radius: .5rem
        overflow: hidden
       
        div
            display: flex
            align-items: center
            padding: 0 .4rem
            height: 100%
            background-color: $first-color

        h4
            font-size: 1.3rem
            margin: 0 

        > h4
            margin: 0 .5rem