$width-form: 60.5rem
$height-form: 31.25rem

.form-container
    display: flex
    flex-direction: column
    align-items: center
    background-color: #FFF 
    position: relative
    padding: 2rem 0
    min-height: $height-form 
    width: $width-form

    .logo-sipam
        position: absolute
    
    h1
        margin: 1rem 0

    label
        color: #494949
        font-size: 1.3rem

    select
         height: 2.5rem 

    .campo
        @include input-1(rgba(0,0,0,.7))
        width: $width-form * 0.8
        font-size: 1.2rem

        &[name="num_maleta"]
            width: 5rem

        &[name="num_processo"]
            width: 16rem

        &[type="date"]
            width: 12rem

    textarea
        height: 12rem