.intro
    background-color: green
    align-items: center
    display: flex
    height: 40%
    justify-content: center
    position: relative
    width: 100%


.intro::after
    bottom: 0
    content: ''
    background-color: black
    height: 5px
    position: absolute
    width: 100%

.logo-censipam
    border: solid 5px black
    border-radius: 80%
    bottom: 0
    position: absolute
    transform: translateY(50%)
    width: 150px
    z-index: 2

.intro h1
    color: white
    font-family: 'Oswald'
    font-size: 65px
