.intro
    background-color: $second-color
    align-items: center
    display: flex
    height: 35vh
    justify-content: center
    position: relative
    width: 100%
    margin-bottom: 4rem

.logo-censipam
    bottom: 0
    position: absolute
    transform: translateY(50%)
    width: 150px
    z-index: 2

.intro h1
    color: white
    font-size: 65px
