$width-form: 600px
    
%style_form 

    align-items: center
    display: flex
    flex-direction: column
    justify-content: space-between
    width: $width-form
    z-index: 1


%title_form

    font-size: 40px
    font-family: 'Oswald'
    letter-spacing: 1.2px
    font-weight: 600
    margin: 0


%text_area

    resize: none
    text-align: start
    text-indent: 8px


%botao-acao

    border: none
    border-radius: 20px
    box-shadow: 0px 5px 8px rgb(175, 175, 175)
    font-size: 20px
    font-weight: bold
    height: 70px !important
    width: 200px

    &:focus
        box-shadow: inset 0px 0px 5px rgb(121, 121, 121)


