.container {
  background-color: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0px 3px 10px 1px #000000;
  position: relative;
  text-align: center; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  z-index: 1; }

.titulo_formulario {
  font-size: 40px;
  font-family: "Oswald";
  letter-spacing: 1.2px;
  font-weight: 600;
  margin: 0 0 1rem 0; }

.input_descricao {
  resize: none;
  text-align: start;
  text-indent: 8px; }

.botao_finalizar, .botao_submit {
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 8px #afafaf;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 70px !important;
  width: 200px; }
  .botao_finalizar:focus, .botao_submit:focus {
    box-shadow: inset 0px 0px 5px #797979; }

.grid-box {
  display: grid;
  grid-template: 100%/50% 50%; }

.flex-box {
  align-items: flex-start;
  display: flex;
  flex-direction: column; }

.box-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: fit-content; }

.nome-campo {
  font-size: 20px;
  margin: 5px 0;
  text-align: left; }

.campo {
  background-color: white;
  border: solid 1px gray;
  border-radius: 7px;
  font-size: 20px;
  height: 40px;
  outline: solid 0px rgba(68, 176, 230, 0.7);
  transition: outline 0.1s ease-out; }
  .campo:hover, .campo:focus {
    outline: solid 4px rgba(68, 176, 230, 0.7); }

[name='instituicao'] {
  width: 600px; }

.background {
  background-image: linear-gradient(to right, #288f21, #64C25D, #44b0e6, #4537A3);
  display: flex;
  height: 100%;
  overflow-y: scroll;
  padding-top: 2rem;
  justify-content: center;
  width: 100%; }

@font-face {
  font-family: Nunito;
  src: url("../../fonts/nunito/Nunito-Regular.ttf"); }
@font-face {
  font-family: Oswald;
  src: url("../../fonts/oswald/Oswald-VariableFont_wght.ttf"); }
* {
  font-family: "Nunito", "Arial"; }

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  position: relative;
  margin-bottom: 2rem;
  justify-content: space-around;
  height: fit-content;
  width: 850px; }

.form {
  align-items: center;
  width: 600px; }

.input_descricao {
  height: 200px;
  width: 600px; }

.botao_finalizar, .botao_submit {
  color: white;
  font-family: "Oswald";
  letter-spacing: 1.2px;
  transition: 0.5s;
  margin: 15px 0;
  position: relative; }

.botao_submit {
  background-color: #44b0e6; }
  .botao_submit:hover {
    background-color: white;
    color: #44b0e6; }

@keyframes anim-botao {
  to {
    opacity: 0;
    transform: scale(1.15, 1.5); } }
.botao_finalizar {
  background-color: #dc3545; }
  .botao_finalizar::before {
    border: #dc3545 solid 2px;
    border-radius: 20px;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0; }
  .botao_finalizar:hover::before {
    animation: anim-botao 1.75s cubic-bezier(0.33, 1, 0.68, 1) infinite; }

.grid-box {
  width: 100%; }

.flex-box {
  width: 600px; }

#logo-sipam {
  position: absolute;
  top: 2%;
  right: 2%;
  width: 90px; }

/*# sourceMappingURL=style_finalizar.css.map */
